/* .photoGrid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.photoGrid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.photoGrid .column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .photoGrid .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
    .photoGrid .column {
    flex: 100%;
    max-width: 100%;
  }
} */

.photoGrid {
    margin:0 auto;
    text-align: center;
}

.photoGrid img {
    max-width: 30%;
    margin:1%;
}