html {
    scroll-behavior: smooth !important;
    overflow: hidden;
    overflow-x: initial !important;
}

html, body {
    height:100%;
    background-color: #E9E9E9 !important;
}

body {
    margin:0 auto;
    width:100%;
    overflow-y: auto;
    font-family: var(--mainFont);
}

a {
    cursor: pointer;
}

#main {
    min-height: 100vh;
}

.content:not(:last-child) {
    margin-bottom:0;
}

.columns {
    margin:0 !important;
}

.column {
    padding:0 !important;
}

.scroll {
    overflow:auto;
    /* margin-top:1vh; */
}
.scroll ul {
    float:left;
    margin-right:-999em;
    white-space:nowrap;
    list-style:none;
}
.scroll li {
    margin:2vh;
    text-align:center;
    float:left;
    display:inline;           
}
.scroll img {
    border:0;
    display:block;
    max-width: 25vw;
}

.content li+li {
    margin-top: inherit;
}

.column img {
    margin-bottom:-1px;
}

.mobile {
    display: none;
}

.card {
    background-color:#E9E9E9;
}

.btn-block {
    text-align: left;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.icon {
    float: right;
}

.fa-times{
  transform: rotate(0deg);
  transition: transform 0.4s linear;
}

.fa-times.open{
  transform: rotate(45deg);
  transition: transform 0.4s linear;
}

.fa-times:before, .btn {
    color: var(--gray);
}

/* Mobile Responsive */

@media screen and (max-width:768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }
}

@media screen and (max-width:425px) {
    .scroll img {
        max-width:63vw !important;
    }
}