html {
    scroll-behavior: smooth !important;
}

html, body {
    height:100%;
}

body {
    margin:0 auto;
    width:100%;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: var(--mainFont);
}

.columns {
    margin:5vh;
}

.scroll {
    overflow:auto;
}
.scroll ul {
    float:left;
    margin-right:-999em;
    white-space:nowrap;
    list-style:none;
}
.scroll li {
    margin:2vh;
    text-align:center;
    float:left;
    display:inline;           
}
.scroll img {
    border:0;
    display:block;
    max-width: 25vw;
}

.content li+li {
    margin-top: inherit;
}

/* Mobile Responsive */

@media screen and (max-width:768px) {
    .scroll ul {
        margin-right:0 !important;
    }

    .scroll img {
        max-width:39vw !important;
        max-height:37vh;
    }

    .content ul {
        margin: 0 !important;
    }

    .scroll li {
        margin:2vh !important;
    }

    .scroll {
        margin: 0 auto;
    }
}

@media screen and (max-width:425px) {
    .scroll img {
        max-width:63vw !important;
    }
}