:root {
    --red:#E64162;
    --orange: #F2A566;
    --yellow: #ffc600;
    --light-green: #689420;
    --green: #1A792F;
    --blue-green: #77A489;
    --blue: #6E8898;
    --purple: #6a00b2;
    --brown: #8c7a51;
    --gray: #40404f;
    --black: #0f1113;
    --personal: #f9b62d;
    --light-gray:#e6e7e8;
    --mainFont: 'Montserrat', sans-serif;
}